<h1>Bienvenido a la página dos...</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nisi, voluptate aperiam! Ipsa quaerat harum animi, omnis dolores blanditiis vitae numquam quo maiores consequuntur nemo ex a non molestias facere!</p>

<p>
  Los alumnos del curso son <%= @users[0] %>, <%= @users[1] %>, <%= @users[2] %>, <%= @users[3] %>
</p>

<%= image_tag 'camera.jpg' %>
<%= image_tag 'ligth.jpg' %>
